@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>AberFitness</h1>
<ul>
    <li>@Localizer["Sidebar link 1"]</li>
    <li>@Localizer["Sidebar link 2"]</li>
    <li>@Localizer["Sidebar link 3"]</li>
    <li>@Localizer["Sidebar link 4"]</li>
</ul>